interactions:
- request:
    body: '{"block_id": 8542, "name": "Event Handler 2", "output": "output-0.6687292002997415",
      "event": "js-before-publish", "code": "export default (request) => {\n    console.log(''Event
      Handler #2'')\n    const pubnub = require(''pubnub'');\n    const kvstore =
      require(''kvstore'');\n    const xhr = require(''xhr'');\n\n    console.log(request);
      // Log the request envelope passed\n    return request.ok(); // Return a promise
      when you''re done\n}", "channels": "eh-channel-2", "key_id": 246021, "type":
      "js", "log_level": "debug"}'
    headers:
      Content-Type: [application/json]
      X-Session-Token: [<secret-header>]
    method: POST
    uri: https://admin.pubnub.com/api/v1/blocks/key/246021/event_handler
  response:
    body: {string: '{"message":"OK","payload":{"block_id":8542,"path":"","output":"output-0.6687292002997415","code":"export
        default (request) => {\n    console.log(''Event Handler #2'')\n    const pubnub
        = require(''pubnub'');\n    const kvstore = require(''kvstore'');\n    const
        xhr = require(''xhr'');\n\n    console.log(request); // Log the request envelope
        passed\n    return request.ok(); // Return a promise when you''re done\n}","channels":"eh-channel-2","create_user_id":214382,"status":1,"name":"Event
        Handler 2","type":"js","id":7949,"event":"js-before-publish","modified_date":"Wed,
        29 Mar 2017 20:54:25 GMT","key_id":"246021","created_date":"Wed, 29 Mar 2017
        13:54:25 GMT","log_level":"debug"},"status":200}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
