interactions:
- request:
    body: '{"output": "output-0.6687292002997415", "id": 7949, "type": "js", "block_id":
      8542, "channels": "eh-channel-2", "name": "Event Handler 2", "key_id": 246021,
      "log_level": "debug", "event": "js-before-publish", "code": "export default
      (request) => {\n    console.log(''Event Handler #2 (altered)'')\n    const pubnub
      = require(''pubnub'');\n    const kvstore = require(''kvstore'');\n    const
      xhr = require(''xhr'');\n\n    console.log(request); // Log the request envelope
      passed\n    return request.ok(); // Return a promise when you''re done\n}"}'
    headers:
      Content-Type: [application/json]
      X-Session-Token: [<secret-header>]
    method: PUT
    uri: https://admin.pubnub.com/api/v1/blocks/key/246021/event_handler/7949
  response:
    body: {string: '{"message":"OK","status":200}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
