interactions:
- request:
    body: '{"key_id": 246021, "channels": "eh-channel-1", "log_level": "debug", "output":
      "output-0.6742937459178331", "code": "export default (request) => {\n    console.log(''Event
      Handler #1'')\n    const pubnub = require(''pubnub'');\n    const kvstore =
      require(''kvstore'');\n    const xhr = require(''xhr'');\n\n    console.log(request);
      // Log the request envelope passed\n    return request.ok(); // Return a promise
      when you''re done\n}", "name": "Event Handler 1", "type": "js", "event": "js-before-publish",
      "block_id": 8543}'
    headers:
      Content-Type: [application/json]
      X-Session-Token: [<secret-header>]
    method: POST
    uri: https://admin.pubnub.com/api/v1/blocks/key/246021/event_handler
  response:
    body: {string: '{"message":"OK","payload":{"key_id":"246021","channels":"eh-channel-1","modified_date":"Wed,
        29 Mar 2017 20:54:57 GMT","log_level":"debug","block_id":8543,"id":7950,"type":"js","event":"js-before-publish","status":1,"created_date":"Wed,
        29 Mar 2017 13:54:57 GMT","name":"Event Handler 1","path":"","create_user_id":214382,"code":"export
        default (request) => {\n    console.log(''Event Handler #1'')\n    const pubnub
        = require(''pubnub'');\n    const kvstore = require(''kvstore'');\n    const
        xhr = require(''xhr'');\n\n    console.log(request); // Log the request envelope
        passed\n    return request.ok(); // Return a promise when you''re done\n}","output":"output-0.6742937459178331"},"status":200}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
[...]
