interactions:
- request:
    body: '{"password": "<secret-value>", "email": "<secret-value>"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://admin.pubnub.com/api/me
  response:
    body: {string: '{"result":{"status":1,"token":"<secret-value>","modified":1490846088,"storage":null,"user":{"status":1,"properties":{"acct_type":null,"xsite_google:oauth_token_secret":"<secret-value>","twitter":"<secret-value>","xsite_google:id":"<secret-value>","last":"<secret-value>","premium_sla":"False","customer_use_case":"User
        dismissed.","phone":"<secret-value>","first":"<secret-value>","customer_recommendation_vote":null,"xsite_google:oauth_token":"<secret-value>"},"email":"<secret-value>","modified":1486733764,"login_attempts_last":null,"id":214382,"created":1355415945,"login_attempts":0},"expires":1490847888,"user_roles":{"is_internal_operator":false,"is_internal_admin":false,"is_internal_viewer":false,"roles":{}},"role":"user","created":1490846035,"user_id":214382}}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-Session-Token: [<secret-header>]
    method: GET
    uri: https://admin.pubnub.com/api/accounts?user_id=214382
  response:
    body: {string: '{"result":{"accounts":[{"properties":{"company":"home"},"owner_id":214382,"modified":null,"protected":0,"dates":{"company":{"modified":null,"created":1490820892}},"id":214382,"created":1355415945}],"permissions":{}}}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-Session-Token: [<secret-header>]
    method: GET
    uri: https://admin.pubnub.com/api/apps?owner_id=214382
  response:
    body: {string: '{"total":1,"result":[{"name":"Ansible-Block-Module","status":1,"properties":{"stats_channel":"GYFzL6xXXcUDAP81ICyP"},"owner_id":214382,"keys":[{"status":1,"secret_key":"<secret-value>","properties":{"bill_by_uuid":1,"blocks":1,"multiplexing":1,"channelgroup_index_disable":1,"wildcardsubscribe":1,"name":"Travis-CI","presence_deltas":1,"presence":1,"realtime_analytics_channel":"62BkXcCI5WIt9fXLAoLm"},"app_id":349017,"product_id":12,"publish_key":"<secret-value>","id":246021,"subscribe_key":"<secret-value>","modified":1484052329,"expires":null,"dates":{"bill_by_uuid":{"modified":null,"created":1484081129},"blocks":{"modified":null,"created":1484081157},"multiplexing":{"modified":null,"created":1488915405},"channelgroup_index_disable":{"modified":null,"created":1484081145},"wildcardsubscribe":{"modified":null,"created":1488915405},"name":{"modified":1484081145,"created":1484081129},"presence_deltas":{"modified":null,"created":1490136156},"presence":{"modified":null,"created":1490136156},"realtime_analytics_channel":{"modified":null,"created":1484081129}},"created":1484052329}],"dates":{"stats_channel":{"modified":null,"created":1484081129}},"id":349017,"created":null,"modified":1484084657}]}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-Session-Token: [<secret-header>]
    method: GET
    uri: https://admin.pubnub.com/api/v1/blocks/key/246021/block
  response:
    body: {string: '{"status":200,"message":"OK","payload":[]}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"key_id": 246021, "description": "No description provided for this block.",
      "name": "Ansible block", "block_id": -1}'
    headers:
      Content-Type: [application/json]
      X-Session-Token: [<secret-header>]
    method: POST
    uri: https://admin.pubnub.com/api/v1/blocks/key/246021/block
  response:
    body: {string: '{"status":200,"message":"OK","payload":{"status":1,"name":"Ansible
        block","create_user_id":214382,"created_date":"Wed, 29 Mar 2017 13:54:55 GMT","id":8543,"key_id":"246021","block_id":-1,"description":"No
        description provided for this block."}}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
